/*
    selector
    - . : class
    - # : id
    - tag : element
    - parent > child : desendant

    변수, 상수 : -- color-white : 색상값;
    예) color : var(color-white);
        background-color : va(color-white);
*/
:root {
    /* color-list */
    --color-white : #ffffff;
    --color-black : #050a13;
    --color-accent : #03e8f9;
    --color-orange : #fd6413;
    --color-gray : #1b1e26;

    /* container size */
    --max-size-width: 1200px;
}

/*
    Commons
*/
* {
    font-family: 'Open Sans', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
section {
    padding: 4rem;
    width: var(--max-size-width);
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}
.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/*
    header
*/
header {
    top: 0;
    position: fixed;
    background-color: var(--color-black);
    width: 100%;
    margin: auto;
    z-index: 5;
}
.header-menu {
    background-color: var(--color-black);
    color: var(--color-white);
    /* position: fixed; */
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu-left {
    display: flex;
    gap: 10px;
    align-items: center;
}
.left-title {
    font-size: 1.8rem;
}
.menu-img {
    width: 36px;
}
.menu-right {
    display: flex;
    gap: 5px;
}
.menu-item {
    padding: 8px 16px;
    color: var(--color-white);
}
.menu-item:hover {
    background-color: var(--color-accent);
    color: var(--color-black);
    border-radius: 8px;
}
/*
home

*/
#home {
    width: 100%;
    padding-top: 7rem;
    background-color: var(--color-black);
    color: var(--color-white);
}
.home-img {
    width: 250px;
    height: 250px;
    border: 5px solid var(--color-accent);
    border-radius: 100%;
}
.home-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home-title.strong{
    color: var(--color-accent);
}
.home-button {
    background-color: var(--color-accent);
    color: var(--color-black);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    margin: 2rem;
}
.home-button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: bold;
}

/*
    about
*/
.majors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 2.5rem 0;
}
.major {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 1rem;
    padding: 2rem 1rem;
}
.major-icon {
    font-size: 4rem;
    color: var(--color-accent);
    margin-bottom: 1rem;
}
.jobs {
    text-align: start;
}
.job {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

/*
    skills
*/
.skill-background {
    width: 100%;
    background-color: var(--color-gray);
}
#skill {
    background-color: var(--color-gray);
    color: var(--color-white);
}
.skills {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 0;
    overflow: hidden;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.coding {
    background-color: var(--color-black);
    grid-row: span 2;
    padding: 1rem;
}
.skill-title {
    color: var(--color-accent);
    font-size: 1.2rem;
    margin: 1rem 0;
}
.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}
.bar-title {
    display: flex;
    justify-content: space-between;
}
.bar-bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
}
.bar-value {
    width: 100%;
    height: 3px;
    background-color: var(--color-accent);
}
.tools {
    padding: 1rem;
}
.etc {
    padding: 1rem;
    background-color: var(--color-black);
    filter: brightness(170%);

}
/*
    work
*/
.work-background {
    width: 100%;
    background-color: var(--color-black);
}
#work {
    background-color: var(--color-black);
    color: var(--color-white);
}
.categories {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2.5rem;
}
.category {
    position: relative;
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    color: var(--color-white);
    padding: 0.5rem 3rem;
}
.category-count {
    position: absolute;
    top: -20px;
    right: 2px;
    background-color: var(--color-orange);
    color: var(--color-white);
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    opacity: 0;
    transition: all 1000ms ease;
}
.category:hover {
    background-color: var(--color-accent);
    color: var(--color-black);
}
.category:hover .category-count {
    top: 5px;
    opacity: 100;
}
.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}
.project {
    overflow: hidden;
    position: relative;
}
.project-img {
    border-radius: 8px;
}
.project-metadata {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    opacity: 0;
}
.project:hover {
    overflow:visible;
}
.project-metadata:hover {
    opacity: 0.8;
}
/*
    testimonial
*/
.testimonials {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.testimonial {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.testimonial-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.testimonial:nth-child(even) .testimonial-img {
    order: 1;
}
.testimonial-text {
    border-radius: 8px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
    padding: 1rem; 
}
.testimonial-text-name {
    color: var(--color-accent);
    display: inline-block; 
    margin-top: 0.5rem;
    font-weight: 500;
}
/*
    arrow top
*/
.arrow-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    border-radius: 100%;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}

/*
    contact
*/
footer {
    width: 100%;
    background-color: var(--color-black);
}
#contact {
    background-color: var(--color-black);
    color: var(--color-white);
}
.contact-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2rem;
    padding: 1rem;
}
.contact-link {
    color: var(--color-white);
}

@media screen and (max-width: 900px) {
    .menu-right {
        gap: 0;
    }
    .menu-item {
        padding: 4px 8px;
    }
    .majors {
        flex-direction: column;
    }
    .major {
        width: 400px;
    }
    .category {
        padding: 0.5rem 1rem;
    }
    .category-count {
        right: -1rem;
    }
    .testimonial {
        flex-direction: column;
    }
    .testimonial:nth-child(even) .testimonial-img {
        order: 0;
    }
    .job {
        justify-content: center;
    }
}

@media screen and (max-width: 620px) {
    .menu-right{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .categories {
        flex-direction: column;
        gap: 2rem;
    }
    .arrow-top {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        right: 1rem;
        bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }
}